#main {
    margin: 15px auto;
    width: 100%;
    text-align: center;
}

h4#currentChannel {
    font-size: 20px;
    margin: 0 auto;
    font-weight: 100;
    letter-spacing: 2px;
    color: #565d64;
    display: block;
    width: 100%;
}

.content {
    padding: 0 2em;
    max-height: 80%;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
    text-align: left;
}

.editor {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 100%;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

.editor form {
    width: 15em;
    margin: 15px auto;
    color: #565d64;
    text-align: center;
}

.editor form input, .editor form textarea {
    font-size: 16px;
    font-weight: normal;
    width: 15em;
    color: #565d64;
}

.editor form button {
    margin: 15px auto;
    border-radius: 2px;
    width: 6em;
    background-color: white;
    border: solid #ccc 1px;
    color: #777777;
    display: block;
}

.chat-item {
    margin: 10px;
    width: 100%;
    float: left;
}

.chat-item__details span {
    content: '匿名';
    color: #1f8dd6;
    font-size: 1em;
}

.chat-item__details a {
    text-decoration: none;
    color: #565d64;
    font-size: 0.8em;
}

a.pure-menu-link.active {
    background-color: #135480;
}
