html {
    font-size: 62.5%;
    font-family: 'PingFang SC', Helvetica, sans-serif;
}

body {
    color: black;
    width: 100%;
}

.disabled {
    cursor: not-allowed;
    content: "已加载";
}

#menu a.pure-menu-heading {
    width: 150px;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    font-size: 1.6rem;
}

ul.pure-menu-list {
    text-align: center;
    margin: 0 auto;
}

div#id-div-board {
    width: 100%;
    text-align: center;
    padding: 5px;
    /*height: 50px;*/
    font-size: 1.6rem;
    /*border-bottom: 1px dashed #a5a2a6;*/
}

#id-div-panel {
    /*display: flex;*/
    /*position: fixed;*/
    clear: both;
    line-height: 14px;
    bottom: 0;
    border-radius: 5px;
    width: 80%;

}

#id-div-chats {
    margin-top: 8rem;
}

#id-div-panel form {
    /* border: 1px dashed #ccc; */
    margin: 2rem;
    padding: 2rem;
    right: 0;
    background-color: white;
}

input#id-input-name {
    display: inline-block;
}

input.sai-form-line {
    display: inline-block;
    font-size: 14px;
    border: none !important;
    border-bottom: 1px solid #e2dede !important;
    width: 240px;
    color: black;
}

input.sai-form-block {
    display: block;
    font-size: 14px;
    border: 1px solid #e2dede;
    color: black;
    width: 100%;
}

textarea.sai-form-block {
    display: block;
    font-size: 14px;
    border: 1px solid #e2dede;
    color: black;
    width: 100%;
    height: 6em;
}

button {
    padding: 4px 6px;
    border: 1px solid #cad2d3;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    margin-top: 0.2rem;
    font-size: 14px;
}

#id-button-send {
    display: inline-block;
    color: #444;
    position: relative;
    font-weight: 300;
    float: right;
    background-color: white;
    height: 35px;
}
