<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Index</title>
</head>
<body>
    <div id='id-div-channels' class="rc-left">
        <h1>聊天室</h1>
        <a class="rc-channel" href="#">大厅</a>
        <a class="rc-channel" href="#">游戏</a>
        <a class="rc-channel" href="#">灌水</a>
    </div>
    <div class="rc-main">
        <div id="id-div-chats">
            <!-- <div class="chat-item model-id-579cbda07fd9f73e16eca0a6 burstStart read burstFinal">
                <div class="chat-item__container">
                    <div class="chat-item__aside">
                        <div class="chat-item__avatar">
                            <span class="widget">
                                <div class="trpDisplayPicture avatar-5592912d15522ed4b3e316df avatar-s   ">
                                    <img src="https://avatars0.githubusercontent.com/u/7235381?v=3&amp;s=30"  height="30" width="30" class="avatar__image" alt="">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="chat-item__actions js-chat-item-actions">
                        <i class="chat-item__icon icon-check chat-item__icon-read chat-item__icon-read-by-some js-chat-item-readby"></i>
                        <i class="chat-item__icon icon-ellipsis"></i>
                    </div>
                    <div class="chat-item__content">
                        <div class="chat-item__details">
                            <div class="chat-item__from js-chat-item-from">小瓜</div>
                            <a class="chat-item__time js-chat-time" href="#" title="July 30, 2016 10:45 PM" data-disable-routing="true">Jul 30 22:45</a>
                        </div>
                        <div class="chat-item__text js-chat-item-text">This is a chat of greetings.</div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="rc-input">
            <form class="pure-form pure-form-stacked">
                <input id='id-input-name' class="rc-full-width" type="text" placeholder="名字">
                <textarea id='id-input-content' class="rc-full-width" placeholder="内容"></textarea>
                <button id='id-button-send' class="rc-full-width" type='button'>发送消息</button>
            </form>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/push.min.js"></script>
    <script src="/static/js/chat.js"></script>
</body>
</html>